extends layout

block content
  h1= title
  p Number of visits: 
    #counter.div #{count}

block js
  script(src='/socket.io/socket.io.js')

  script(type='text/javascript').
    var socket = io();
    socket.on('new visit', function(msg){
      console.log('New visit event, msg: %s', msg);
      document.getElementById('counter').innerHTML = msg.count
    });

