extends layout

block content
  h1= title
  p Total number of visits: 
    #visitsCounter.div #{count}

  p Number of open tabs(including this one): 
    #tabsCounter.div 0

block js
  script(src='/socket.io/socket.io.js')

  script(type='text/javascript').
    var socket = io();
    socket.on('new visit', function(msg){
      console.log('New visit event, msg: %s', msg);
      document.getElementById('visitsCounter').innerHTML = msg.count
    });

    socket.on('tab change', function(msg){
      console.log('Tab change event, msg: %s', msg);
      document.getElementById('tabsCounter').innerHTML = msg.count
    });


